/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }

  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */

  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  /*
   * A better looking default horizontal rule
   */

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  /*
   * Remove default fieldset styles.
   */

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  /*
   * Allow only vertical resizing of textareas.
   */

  textarea {
    resize: vertical;
  }
html {
  font-size: 16px;
  line-height:1.3125em;
}

body{
  background-color: #fff;
  min-width: 320px;
}

header {
  display: flex;
  z-index: 10;
}

header .content-wrapper {
  position: fixed;
  background-color: #004372;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  top: 0;
  align-items: center;
  border-bottom: 2px solid #fff;
}

header a {
  text-decoration: none;
  color: #fff;
}

header h1 {
  font-family: 'Syne', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  color: #fff;
  line-height: .85em;
}

header .nav {
  display: none;
  flex-flow: row wrap;
  align-items: center;
}

header .nav ul {
  display: flex;
  list-style-type: none;
  font-family: 'Syne', sans-serif;
  font-weight: bold;
  justify-content: right;
  text-transform: uppercase;
  margin: 0;
  padding:0;
}

header .nav ul li {
  margin: 0;
  padding: 30px 15px 30px;
  box-sizing: border-box;
  transition: .2s;
 }

header .nav ul li:hover {
  background-color: #112e52;
  transform: scale(.97);
  transition: .2s;
}


/***** MAIN *****/

main {
  margin: 70px 0 0 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main .content-wrapper {
  margin: 0 auto;
}

main h2 {
  font-family: 'Syne', sans-serif;
  text-transform: uppercase;
}

#hero .content-wrapper {
  padding: 50px 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: url('../img/hero.jpg') center no-repeat #333;
  background-size: cover;
  border-bottom: solid 2px #fff;

}

#hero article {
  flex-basis: 350px;
  text-align: right;
  background-color: rgba(145, 145, 145, .8);
  color: #fff;
  padding: 10px 20px;
  border: solid 3px #fff;
}

#hero h2 {
  font-family: 'Kameron', serif;
  font-size: 2.175em;
  font-weight: 700;
  line-height: 2.225rem;
  text-transform: none;
  opacity: 100%;
  text-shadow: 0px 1px 3px #222;
}

#hero h4 {
  font-family: "Syne", sans-serif;
  margin-top: -1em;
  text-shadow: 0px 1px 2px #222;
}

h5 {
  font-size:1.25em;
  font-family: 'Syne', sans-serif;
}

/***** SERVICES *****/
#services {
  background-color: #17aed4;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  color: #fff;
  font-family: "Kameron";
  padding: 50px 0;
}

#services h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

#services .content-wrapper {
  flex-basis: 200px;
  justify-content: center;
  text-align: center;
  align-items: baseline;
}

#services svg {
  width: 100%;
  max-height: 150px;
  padding-bottom: 10px;
}

#services article {
  flex-basis: 100%;
  padding: 20px 0;
}

.serv-1,
.serv-2,
.serv-3,
.serv-4 {
border-bottom: solid 2px #fff;
}

.serv-icon path {
  stroke: #fff;
}

/***** PORTFOLIO *****/

#portfolio {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding:50px 0;
  background-color: #e6eef2;
}

#portfolio img {
  width: 100%;
}

#portfolio h2 {
  width: 100%;
  text-align: center;
}

#portfolio .content-wrapper{
  display: flex;
  flex-basis: 300px;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  font-family: "Kameron", serif;
}

#portfolio figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  margin: 2em 0;
}

#portfolio article {
  padding-bottom: 1em;
}

#portfolio .pf-1,
#portfolio .pf-2 {
  border-bottom: solid 1px lightgrey;
}

 /***** TESTIMONIALS *****/

#testimonials {
  background-color: #17aed4;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  color: #fff;
  padding: 50px 0;
}

#testimonials h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

#testimonials .profile {
  display: flex;
  align-items: center;
}

#testimonials .headshot {
  width: 50px;
  border-radius:50px;
}

#testimonials h6 {
  margin: 0 10px;
  align-items: center;
  font-family: "Kameron", serif;
  font-weight:700;
  line-height: 1.4rem;
  font-size: 1.2em;
}

#testimonials p {
  border-top: solid 1px white;
  padding-top: 1em;
  font-family: "Kameron", sans-serif;
  font-weight:400;
}

#testimonials .content-wrapper {
  display:flex;
  flex-basis:70%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.testimonial-1,
.testimonial-2,
.testimonial-3 {
  display: flex;
  flex-flow: row wrap;
  padding: 20px 5px;
}

.testimonial-2 {
  justify-content: flex-end;
  text-align: right;
}

/***** CONTACT *****/
#contact {
  background-color: #004372;
  padding: 15px 0;
  font-family: sans-serif;
  border-top: 2px solid #fff;
}

#contact .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  width: 350px;
}

#contact h2 {
  font-family: 'Syne', sans-serif;
  color: #fff;
  line-height: 1.25em;
  text-transform: none;
  text-align: center;
}

#contact span {
  color: #fff;
  font-weight: bold;
}

#contact a {
  color: #fff;
  text-decoration: none;
  font-family: "Kameron";
}

.email {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.email h6 {
  font-size: 1.25rem;
}

.email svg {
  width: 50px;
  padding-right: 15px;
}

.social-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.social-icons svg {
  width: 50px;
  padding: 20px 30px;
}

nav a {
  transition: .2s;
}

.social-icons a:hover {
  transform: scale(1.15);
  transition: .2s;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden,
 [hidden] {
   display: none !important;
 }

 /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */

 .sr-only {
   border: 0;
   clip: rect(0, 0, 0, 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   white-space: nowrap;
   width: 1px;
   /* 1 */
 }

 /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */

 .sr-only.focusable:active,
 .sr-only.focusable:focus {
   clip: auto;
   height: auto;
   margin: 0;
   overflow: visible;
   position: static;
   white-space: inherit;
   width: auto;
 }

 /*
  * Hide visually and from screen readers, but maintain layout
  */

 .invisible {
   visibility: hidden;
 }

 /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */

 .clearfix::before,
 .clearfix::after {
   content: " ";
   display: table;
 }

 .clearfix::after {
   clear: both;
 }

 /* ==========================================================================
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
    ========================================================================== */

 @media only screen and (min-width: 768px) {
     /*------------ TABLET -----------*/
  header .nav {
    display: flex;
  }

  #hero article {
    margin-right: 35%;
    justify-content: left;
  }

  #services .content-wrapper {
    display: flex;
    flex-basis: 700px;
    flex-flow: row wrap;
  }

  #services h5 {
    margin-bottom: 0px;
  }

  #services article {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 200px;
    padding: 0 50px 30px;
  }

  .serv-1,
  .serv-2,
  .serv-3,
  .serv-4 {
    border-bottom: none;
  }

   #portfolio .content-wrapper {
    display: flex;
    flex-basis: 750px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  #portfolio h2 {
    margin-bottom: 80px;
  }

  #portfolio article {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 600px;
    justify-content: center;
    padding: 0 20px;
  }

  #portfolio h5 {
    margin: -.1em 0;
  }

  #testimonials .content-wrapper {
    display: flex;
    flex-basis: 600px;
  }

  #contact .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 700px;
  }

   #contact .email {
   align-items: center;
   justify-content: center;
   flex-basis: 90%;
   transition: .3s;
 }

 #contact .social {
   align-items: center;
   flex-flow: row;
 }
 }

 @media only screen and (min-width: 1200px) {
     /**** DESKTOP ****/

  #hero .content-wrapper {
    padding: 175px 0;
  }

  #services .content-wrapper {
  display: flex;
  flex-basis: 1200px;
  flex-flow: row wrap;
  }

  #services article {
    flex-basis: 275px;
    padding-bottom: 0px;
  }

  #portfolio .content-wrapper {
    display: flex;
    flex-basis: 1200px;
    flex-flow: row wrap;
    justify-content: center;
  }

  #portfolio h2 {
    margin-bottom: 80px;
  }

  #portfolio article {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 800px;
    justify-content: center;
    padding: 0 30px;
  }

  #portfolio h5,
  #portfolio p {
    width: 600px;
  }

 #contact .content-wrapper {
   display: flex;
   justify-content: space-evenly;
   width: 1000px;
 }


 }


 /* ==========================================================================
    Print styles.
    Inlined to avoid the additional HTTP request:
    https://www.phpied.com/delay-loading-your-print-css/
    ========================================================================== */

 @media print {
   *,
   *::before,
   *::after {
     background: #fff !important;
     color: #000 !important;
     /* Black prints faster */
     box-shadow: none !important;
     text-shadow: none !important;
   }

   a,
   a:visited {
     text-decoration: underline;
   }

   a[href]::after {
     content: " (" attr(href) ")";
   }

   abbr[title]::after {
     content: " (" attr(title) ")";
   }

   /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
   a[href^="#"]::after,
   a[href^="javascript:"]::after {
     content: "";
   }

   pre {
     white-space: pre-wrap !important;
   }

   pre,
   blockquote {
     border: 1px solid #999;
     page-break-inside: avoid;
   }

   /*
    * Printing Tables:
    * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
    */
   thead {
     display: table-header-group;
   }

   tr,
   img {
     page-break-inside: avoid;
   }

   p,
   h2,
   h3 {
     orphans: 3;
     widows: 3;
   }

   h2,
   h3 {
     page-break-after: avoid;
   }
 }
