/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }

  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */

  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  /*
   * A better looking default horizontal rule
   */

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  /*
   * Remove default fieldset styles.
   */

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  /*
   * Allow only vertical resizing of textareas.
   */

  textarea {
    resize: vertical;
  }
html {
  font-size: 16px;
  line-height:1.3125em;
}

body{
  background-color: #004372;
  min-width: 320px;
  overflow-y:auto;
}

header {
  display: flex;
  z-index: 10;
  position: absolute;
}

header .content-wrapper {
  position: fixed;
  background-color: #004372;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  top: 0;
  align-items: center;
  border-bottom: 2px solid #fff;
}

header a {
  text-decoration: none;
  color: #fff;
}

header h1 {
  font-family: 'Syne', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  color: #fff;
  font-size: 1.75em;
}

header .nav {
  display: none;
  flex-flow: row wrap;
  align-items: center;
}


/***** MAIN *****/

main {
  margin: 60px 0 0 0;
}
main .content-wrapper {
  margin: 0 auto;
}

main h2 {
  font-family: 'Syne', sans-serif;
  text-transform: uppercase;
}

#hero .content-wrapper {
  padding: 30px 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: url('../img/creek.png') center no-repeat #333;
  background-size: cover;
}

#hero-text {
  display: flex;
  justify-content: center;
  flex-basis: 300px;
  text-align: center;
  color: #fff;
  flex-flow: row wrap;
}

#hero h2 {
  font-family: 'Kameron', serif;
  font-size: 1.55em;
  line-height: 1.15em;
  font-weight: 700;
  text-transform: none;
  text-shadow: 0px 1px 3px #222;
  background-color: rgba(5, 5, 5, .7);
  border: solid 2px #fff;
  padding: 10px;
  border-radius: 8px;
}

#hero h4 {
  font-family: "Syne", sans-serif;
  margin-top: -1em;
  text-shadow: 0px 1px 2px #222;
}

#hero button {
  color: #fff;
  background-color: #004372;
  font-family: 'Kameron', sans-serif;
  font-weight: bold;
  font-size: 1.25em;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: solid 3px #fff;
  transition: .1s;
}

#hero button:hover {
  color: #004372;
  background-color: #fff;
  transition: .1s;
}

#hero button:active {
  background-color: #c9c9c9;
}

.hide {
  display: none;
}

.popup {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  background-color: #e6eef2;
  border: solid 3px #004372;
  border-radius: 10px;
  z-index: 20;
  padding: 10px;
  width: 275px;
  font-family: 'syne', sans-serif;
}

.popup-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.popup h2 {
  text-align: center;
  flex-basis: 100%;
}

.popup p {
  flex-basis: 100%;
  text-align: center;
}

.popup a {
  color: #222;
}

.popup h5 {
  margin: 15px 0 0;
  font-size: .875em;
}

.popup-form {
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  justify-content: center;
}

.popup-contact,
.popup-message {
  flex-basis: 100%;
  justify-content: center;
}

input[name=name],
input[name=email] {
  width: 90%;
}

input,
textarea {
  font-family: 'Kameron', serif;
}

textarea {
  height: 100px;
  width: 90%;
  overflow-y: scroll;
}

input[type=submit] {
  width: 150px;
  padding: 15px 0;
  color: #fff;
  background-color: #004372;
  font-family: 'syne', sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border: solid 3px #fff;
  transition: .1s;
  text-transform: uppercase;
}


input[type=submit]:hover {
  color: #004372;
  background-color: #fff;
  transition: .1s;
  cursor: pointer;
}

input[type=submit]:active {
  background-color: #c9c9c9;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  font-size: 20px;
  padding: 3px;
  text-align: center;
  margin: 3px;
  font-family: 'syne', sans-serif;
  font-size: 1.5em;
  border-radius: 5px;
  transition: .1s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.close:hover {
  background-color: #333;
  color: #fff;
  transition: .1s;
  cursor: pointer;
}

.close:active {
  background-color: #555;
  color: #fff;
}

/***** ABOUT *****/

#about {
  display: none;
}


/***** SERVICES *****/
#services {
  background-color: #17aed4;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  color: #fff;
  font-family: "Kameron";
  align-items: center;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
}

#services h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 15px;
}

.services-wrapper {
  flex-basis: 95%;
  justify-content: center;
  text-align: center;
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  padding: 25px 0;
}

#services h5 {
  font-size: .85em;
  font-family: 'Syne', sans-serif;
  line-height: 1em;
  margin: 10px 0;
}

#services svg {
  width: 100%;
  max-height: 70px;
}

#services article {
  width: 15%;
  padding: 0px 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.serv-icon path {
  stroke: #fff;
}

/***** PORTFOLIO *****/

#portfolio {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #e6eef2;
  align-items: center;
}

.portfolio-wrapper {
  padding: 25px 0;
}

#portfolio h2 {
  width: 100%;
  text-align: center;
  margin: 0 0 15px;
}

/***** PORTFOLIO CAROUSEL *****/

.portfolio-carousel {
  max-width: 400px;
  margin: auto;
  position: relative;
}

.portfolio-slide img {
  width: 100%;
  box-shadow:rgba(145, 145, 145, .8) 3px 3px 5px;
  border-radius: 8px;
}

.navdots {
  text-align: center;
}

.prevBtn,
.nextBtn {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: auto;
   padding: 10px;
   background-color: rgba(230, 238, 242, .6);
   color: #004372;
   font-weight: bolder;
   font-size: 18px;
   transition: .6s;
}

.nextBtn {
  right: 0;
}

.prevBtn:hover,
.nextBtn:hover {
  cursor: pointer;
  background-color: #004372;
  color: #e6eef2;
  transition: .6s;
}

.navdot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 25px 5px 0;
  background-color: #17aed4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}

.selected,
.navdot:hover {
   background-color: #004372;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.portfolio-carousel .portfolio-slide.fade {
  animation: fade 0.25s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

 /***** TESTIMONIALS *****/

/*#testimonials {
  background-color: #17aed4;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  color: #fff;
  padding: 50px 0;
}

#testimonials h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

#testimonials .profile {
  display: flex;
  align-items: center;
}

#testimonials .headshot {
  width: 50px;
  border-radius:50px;
}

#testimonials h6 {
  margin: 0 10px;
  align-items: center;
  font-family: "Kameron", serif;
  font-weight:700;
  line-height: 1.4rem;
  font-size: 1.2em;
}

#testimonials p {
  border-top: solid 1px white;
  padding-top: 1em;
  font-family: "Kameron", sans-serif;
  font-weight:400;
}

#testimonials .content-wrapper {
  display:flex;
  flex-basis:70%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.testimonial-1,
.testimonial-2,
.testimonial-3 {
  display: flex;
  flex-flow: row wrap;
  padding: 20px 5px;
}

.testimonial-2 {
  justify-content: flex-end;
  text-align: right;
}*/

/***** CONTACT *****/
#contact {
  background-color: #004372;
  padding: 15px 0;
  font-family: sans-serif;
  border-top: 2px solid #fff;
}

#contact .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  width: 350px;
}

#contact h2 {
  font-family: 'Syne', sans-serif;
  color: #fff;
  line-height: 1.25em;
  text-transform: none;
  text-align: center;
}

#contact span {
  color: #fff;
  font-weight: bold;
}

.email {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.email h6 {
  color: #fff;
  text-decoration: none;
  font-family: "Kameron";
  font-size: 1.25rem;
}

.email svg {
  width: 50px;
  padding-right: 15px;
}

.social-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.social-icons svg {
  width: 50px;
  padding: 20px 30px;
}

nav a {
  transition: .2s;
}

.email:hover {
  transform: scale(1.07);
  cursor: pointer;
}


.social-icons a:hover {
  transform: scale(1.15);
  transition: .2s;
}

/****PORTFOLIO PAGE****/
#portfolio-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-family: "Kameron";
  background-color: #e6eef2;
}

#portfolio-page a {
  text-decoration: none;
  color: #222;
}

#portfolio-page a:hover h3 {
  text-decoration: underline;
}

#portfolio-page a:hover article {
  background-color: #e0ecff;
  transition: .3s;
}

#portfolio-page .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  justify-content: center;
}

#portfolio-page h2{
  margin: 25px 0 0;
}

.portfolio-article {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-bottom: solid 2px #fff;
  padding: 12px 0 12px;
}

#pf-2,
#pf-4 {
  background-color: #f0f0f0;
}

#pf-4 {
  border-bottom: none;
}

.portfolio-article h3{
  font-family: 'Syne';
  text-align: center;
  margin: 5px 0;
  flex-basis: 100%;
}

.portfolio-text {
  flex-basis: 300px;
}

.portfolio-screenshot {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 95%;
}

.portfolio-screenshot img {
  width: 100%;
  border-radius: 5px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden,
 [hidden] {
   display: none !important;
 }

 /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */

 .sr-only {
   border: 0;
   clip: rect(0, 0, 0, 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   white-space: nowrap;
   width: 1px;
   /* 1 */
 }

 /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */

 .sr-only.focusable:active,
 .sr-only.focusable:focus {
   clip: auto;
   height: auto;
   margin: 0;
   overflow: visible;
   position: static;
   white-space: inherit;
   width: auto;
 }

 /*
  * Hide visually and from screen readers, but maintain layout
  */

 .invisible {
   visibility: hidden;
 }

 /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */

 .clearfix::before,
 .clearfix::after {
   content: " ";
   display: table;
 }

 .clearfix::after {
   clear: both;
 }

 /* ==========================================================================
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
    ========================================================================== */

 @media only screen and (min-width: 768px) {
     /*------------ TABLET -----------*/

  body {
    overflow-y: scroll;
  }

  header h1 {
    font-size: 2.25em;
  }

  header .nav {
    display: flex;
  }

  header .nav ul {
    display: flex;
    list-style-type: none;
    font-family: 'Syne', sans-serif;
    font-weight: bold;
    justify-content: right;
    text-transform: uppercase;
    margin: 0;
    padding:0;
    
  }
  
  header .nav ul li {
    margin: 0;
    padding: 30px 15px 30px;
    box-sizing: border-box;
    transition: .2s;
    width: 150px;
    text-align: center;
    width: 125px;
    font-size: .9em;
   }
  
  header .nav ul li:hover {
    background-color: #112e52;
    transform: scale(.97);
    transition: .2s;
  }
  
  header .nav ul li:active {
    background-color: #112e52;
    transform: scale(.94);
    transition: .2s;
  }

  #hero .content-wrapper {
    padding: 60px 0;
  }

  #hero-text {
    flex-basis: 650px;
  }

  #hero h2 {
    font-family: 'Kameron', serif;
    font-size: 2.175em;
    font-weight: 700;
    line-height: 2.225rem;
    text-transform: none;
    text-shadow: 0px 1px 3px #222;
    background-color: rgba(5, 5, 5, .7);
    border: solid 2px #fff;
    padding: 20px;
  }

  .popup {
    padding: 50px;
    width: 600px;
  }
  
  .popup-container {
    display: flex;
  }
  
  .popup h2 {
    flex-basis: 100%;
  }
  
  .popup p {
    flex-basis: 100%;
  }
  
  .popup h5 {
    margin: 15px 0 0;
    font-size: 1em;
  }
  
  .popup-form {
    flex-basis: 100%;
  }
  
  .popup-contact {
    flex-basis: 50%;
    justify-content: space-around;
  }
  
  .popup-message h5{
    width: 100%;
  }
  
  .popup-message {
    flex-basis: inherit;
  }
  
  input[name=name],
  input[name=email] {
    width: 95%;
  }
  
  textarea {
    height: 300px;
    width: 100%;
  }
  
  input[type=submit] {
    width: 200px;
    padding: 15px 0;
  }

  #about {
    background-color: #e6eef2;
    display: block;
    border-top: solid 2px #fff;
  }
  
  #about .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 600px;
    padding: 25px 0;
  }
  
  #about h2 {
    flex-basis: 100%;
    text-align: center;
    margin: 0 0 25px;
  }
  
  #about p {
    font-family: 'Kameron', serif;
    margin: 0;
  }
  
  #about figure {
    float: left;
    width: 125px;
    margin: 0 20px 0 0;
  }
  
  #about figure img {
    width: 100%;
    border-radius: 50%;
    border: solid 3px #fff;
  }

  #about a {
    text-decoration: underline;
  }

  .eastercat {
    display: none;
    width: 400px;
    border-radius: 8px;
    border: solid 3px #fff;
    position: absolute;
  }

  #about a:hover .eastercat,
  #about a:active .eastercat {
    display: block;
  }

  .services-wrapper {
    display: flex;
    flex-basis: 700px;
    flex-flow: row wrap;
    padding: 25px 0;
  }

  #services h5 {
    font-size: 1em;
    margin-bottom: 0px;
  }
  
  #services svg {
    max-height: 75px;
  }
  
  #services article {
    flex-basis: 125px;
    padding: 0 25px 10px;
  }

  .portfolio-wrapper {
    padding: 25px 0;
  }

  #portfolio h2 {
    margin: 0 0 25px;
  }

  .portfolio-carousel {
    max-width: 700px;
  }

  /*#testimonials .content-wrapper {
    display: flex;
    flex-basis: 600px;
  }*/

  #contact .content-wrapper {
    justify-content: space-evenly;
    width: 700px;
  }

  #contact h2 {
    flex-basis: 100%;
  } 

   #contact .email {
   align-items: center;
   justify-content: center;
   flex-basis: 50%;
   transition: .2s;
 }

 #contact .social {
   align-items: center;
   flex-flow: row;
 }

 /****PORTFOLIO PAGE****/

#portfolio-page .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 100%;
  justify-content: center;
}

#pf-2,
#pf-4 {
  flex-flow: row-reverse wrap;
}

#portfolio-page h2{
  margin: 40px 0 20px;
  font-size: 2em;
}

.portfolio-article {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 25px 0 25px;
  align-items: center;
}

.portfolio-article h3{
  font-family: 'Syne';
  text-align: center;
  margin: 5px 0;
  flex-basis: 45%;
}

.portfolio-text {
  flex-basis: 40%;
}

.portfolio-screenshot {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 40%;
}

.portfolio-screenshot img {
  width: 100%;
}

 }

 @media only screen and (min-width: 1200px) {
     /**** DESKTOP ****/

  header .nav ul li {
    width: 150px;
    font-size: 1em;
    }

  #hero .content-wrapper {
    padding: 175px 0;
  } 

  #hero-text {
    flex-basis: 800px;
  }

  #hero-text h2 {
    padding: 25px;
  }

  #hero button {
    display: flex;
    flex-basis: 200px;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
  }

  #about .content-wrapper {
    width: 1000px;
    padding: 50px 0;
  }

  #about #bio {
    display: flex;
    flex-flow: row wrap;
  }

  #about h2 {
    margin: 0 0 50px;
  }

  #bio figure {
    flex-basis: 200px;
  }

  #bio p {
    flex-basis: 700px;
    margin-top: 0;
  }

  .services-wrapper {
    flex-basis: 1200px;
    padding: 50px 0 25px;
  }

  #services h2 {
    margin: 0 0 50px;
  }

  #services svg {
    max-height: 80px;
  } 

  #services article {
    flex-basis: 225px;
    padding-bottom: 25px;
  }

  #services h5 {
    font-size: 1.25em;
    margin-top: 20px;
  }

  .portfolio-wrapper {
    padding: 50px 0;
  }

  #portfolio h2 {
    margin: 0 0 50px;
  }

  .portfolio-carousel {
    max-width: 1000px;
  }

 #contact .content-wrapper {
   display: flex;
   justify-content: space-evenly;
   width: 1000px;
 }

 #contact .email {
   flex-basis: 40%;
 }
 

#portfolio-page a {
    flex-basis: 75%;
}

#portpagetitle {
  flex-basis: 100%;
  justify-content: center;
  text-align: center;
  padding-top: 25px;
}

#portfolio-page h3 {
  text-align: left;
}

#pf-2 p {
  justify-content: flex-end;
}

#pf-2,
#pf-4,
#pf-2 h3,
#pf-4 h3 {
  text-align: right;
}
 }


 /* ==========================================================================
    Print styles.
    Inlined to avoid the additional HTTP request:
    https://www.phpied.com/delay-loading-your-print-css/
    ========================================================================== */

 @media print {
   *,
   *::before,
   *::after {
     background: #fff !important;
     color: #000 !important;
     /* Black prints faster */
     box-shadow: none !important;
     text-shadow: none !important;
   }

   a,
   a:visited {
     text-decoration: underline;
   }

   a[href]::after {
     content: " (" attr(href) ")";
   }

   abbr[title]::after {
     content: " (" attr(title) ")";
   }

   /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
   a[href^="#"]::after,
   a[href^="javascript:"]::after {
     content: "";
   }

   pre {
     white-space: pre-wrap !important;
   }

   pre,
   blockquote {
     border: 1px solid #999;
     page-break-inside: avoid;
   }

   /*
    * Printing Tables:
    * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
    */
   thead {
     display: table-header-group;
   }

   tr,
   img {
     page-break-inside: avoid;
   }

   p,
   h2,
   h3 {
     orphans: 3;
     widows: 3;
   }

   h2,
   h3 {
     page-break-after: avoid;
   }
 }
